<a href="https://colab.research.google.com/github/seunghee0518/R_File/blob/main/%ED%9A%8C%EA%B7%80%EB%AA%A8%ED%98%95_%EC%B6%9C%EC%84%9D%EA%B3%BC%EC%A0%9C%EB%AC%BC(%EB%B0%95%EC%8A%B9%ED%9D%AC%2C_202035_368335).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.2 제품의 강도 자료
* X1 : 공정온도
* X2 : 공정압력
* Y : 강도

In [21]:
url_2.2 = 'https://raw.githubusercontent.com/seunghee0518/R_File/main/%ED%9A%8C%EA%B7%80%EB%AA%A8%ED%98%95/exercise_2.2.txt'
strength = read.table(url_2.2, header = T)
head(strength)

  X1  X2 Y
1 195 57  81.4
2 179 61 122.0
3 205 60 101.7
4 204 62 175.6
5 201 61 150.3
6 184 54  64.8

In [22]:
#회귀모형 적합
strength.lm = lm(Y ~ ., data = strength)
summary(strength.lm)

Call:
lm(formula = Y ~ ., data = strength)

Residuals:
      1       2       3       4       5       6       7       8
 -5.250 -14.817 -18.742  31.294  17.316  11.768  -3.781 -17.789

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -554.5267   197.2264  -2.812   0.0375 *
X1            -0.1743     0.7636  -0.228   0.8285
X2            11.8449     3.2342   3.662   0.0146 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 21.66 on 5 degrees of freedom
Multiple R-squared:  0.747,	Adjusted R-squared:  0.6459
F-statistic: 7.383 on 2 and 5 DF,  p-value: 0.03218

In [23]:
#분산분석표
anova(strength.lm)

          Df Sum Sq    Mean Sq   F value   Pr(>F)
X1        1   634.8752  634.8752  1.352639 0.29730076
X2        1  6295.6511 6295.6511 13.413253 0.01455821
Residuals 5  2346.8024  469.3605        NA         NA

In [24]:
# 2번 문제 : (X'X)-1 계산
X = strength[, c(1:2)]
X = cbind(1, X)
X = as.matrix(X)
Y = strength[, 3]
Y = as.matrix(Y)
XTX = t(X)%*% X
XTXI = solve(XTX)
XTXI

   1          X1           X2
1  82.8749894 -0.134598917 -0.945973490
X1 -0.1345989  0.001242266 -0.001887521
X2 -0.9459735 -0.001887521  0.022285408

In [25]:
#3번 문제 : X1 = 200, X2 = 59일 경우 추정치
hat.Y = -554.5267 +(-0.1743*200)+(11.8449*59)
hat.Y

[1] 109.4624

In [26]:
# 5번 문제 : F검정
qf(0.95, 2, 5)

[1] 5.786135

In [27]:
#7번 문제 : 표준화회귀모형
install.packages('lm.beta')
library(lm.beta)
strength.beta = lm.beta(strength.lm)
print(strength.beta)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Call:
lm(formula = Y ~ ., data = strength)

Standardized Coefficients::
(Intercept)          X1          X2
 0.00000000 -0.05499279  0.88251635

# 2.3 물의 소비량
* Y : 물소비량
* X1 : 평균온도
* X2 : 작업일수
* X3 : 작업량

3. 분산분석표를 작성하고, 결정계수 R2를 구하라.

In [28]:
url_2.3 = 'https://raw.githubusercontent.com/seunghee0518/R_File/main/%ED%9A%8C%EA%B7%80%EB%AA%A8%ED%98%95/exercise_2.3.txt'
water = read.table(url_2.3, header = T)
head(water)

  Y   X1 X2 X3
1 2.8 10 27 64
2 3.9 24 26 72
3 3.9 25 28 80
4 4.4 28 26 88
5 3.1 15 30 81
6 3.1 18 24 45

In [34]:
#회귀모형 적합
water.lm = lm(Y ~ X1+X2+X3, data = water)
summary(water.lm)

Call:
lm(formula = Y ~ X1 + X2 + X3, data = water)

Residuals:
     Min       1Q   Median       3Q      Max
-0.23490 -0.07744 -0.02166  0.08840  0.23442

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  2.409213   1.125954   2.140  0.07618 .
X1           0.069788   0.012640   5.521  0.00149 **
X2          -0.024767   0.044830  -0.552  0.60060
X3           0.005864   0.005052   1.161  0.28978
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.172 on 6 degrees of freedom
Multiple R-squared:  0.9202,	Adjusted R-squared:  0.8803
F-statistic: 23.05 on 3 and 6 DF,  p-value: 0.001079

In [35]:
#분산분석결과
anova(water.lm)

          Df Sum Sq      Mean Sq     F value     Pr(>F)
X1        1  2.004315887 2.004315887 67.73858599 0.0001737553
X2        1  0.002273071 0.002273071  0.07682153 0.7909535228
X3        1  0.039877142 0.039877142  1.34770234 0.2897755827
Residuals 6  0.177533900 0.029588983          NA           NA

In [32]:
#1번 문제 : F검정
qf(0.95, 3, 6)

[1] 4.757063

In [31]:
#4번 문제 : X1 = 20, X2 = 27, X3 = 60
hat.Y2 = 2.409213 + (0.069788 * 20) + (-0.024767 * 27) + (0.005864 * 60)
hat.Y2

[1] 3.488104